
<div id="colors-container">
    <% @colors.each do |color| %>

        <div class="color-swatch-container">
            <%= link_to color_path(color) do %>
                <div class="color-swatch" style="background:<%=color.hex_code%>;" ></div>
                <h4><%=color.name%></h4>
                <p><%=color.hex_code%></p>
            <% end %>
        </div>

    <% end %>
</div>