
/* Default Styling */

a {
    text-decoration: none;
    color: #EBEEF4;
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3 {
    color: #EBEEF4;
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}



/* Document Layout */

body {
    background: #EBEEF4;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

nav {
    background: #131923;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;

    width: 100%;
    min-height: 70px;
    height: 10%;   
}

#main-content {
    width: 100%;
    height: 90%;

    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Navigation Styling */

nav h1 {
    font-size: 32px;
    margin: 0;
}

nav a {
    margin: 0 10px 0 0;
    padding: 0 2px;

    color: #EBEEF4;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 2px 0 #EBEEF4;

    transition: all 0.1s ease;
}

nav a:hover {
    box-shadow: 0 4px 0 #EBEEF4;
}

#palette-emoji {
    font-size: 42px;
    margin: 10px 30px 0 30px;
}


/* User Index Page */

#user-index-page {
    max-width: 800px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* User Index Card */

.user-index-card {

    border-radius: 10px;

    box-shadow: 4px 4px 8px #131923;

    width: 220px;
    padding: 10px;
    margin: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #131923;

    transition: all 0.1s ease;
}

.user-index-card:hover {
    transform: scale(1.02);
    box-shadow: 6px 6px 10px #131923;
}

.user-index-card:active {
    transform: scale(1.02) translateY(2px);
    box-shadow: 6px 2px 6px #131923;
}

.user-index-card .image-frame {

    margin: 16px 0;
    padding: 6px;

    border: solid 2px #EBEEF4;

    width: 200px;
    height: 200px;
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.user-index-card .image-frame img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 10%;
    border: solid 2px #EBEEF4;
}

.user-index-card h2 {
    margin: 16px 0 0 8px;
}

.user-index-card h3 {
    margin: 4px 0 0 8px;
}

.user-index-card p {
    margin: 0 0 8px 8px;
}



/* User Show Page */

#user-show-page {
    width: 80%;
    min-width: 300px;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-header {
    background: #131923;

    width: 40%;
    min-width: 240px;
    margin: 20px 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-header img {
    max-width: 80%;
    max-height: 80%;

    border-radius: 10%;
    border: solid 6px #EBEEF4;
    margin: 16px 0;
}

#user-header h1 {
    margin: 8px 0 0 0;
    font-size: 42px;
}

#user-header h2 {
    margin: 8px 0 0 0;
    font-size: 24px;
    font-weight: 400;
}

#action-bar {
    margin: 16px 0;
}

#action-bar a {

    background: #131923;

    padding: 8px 16px;
    margin: 0 2px;
    border-radius: 12px;

    box-shadow: 4px 4px 8px #131923;

    transition: all 0.2s ease;

}

#action-bar a:hover {
    color: #94afe4;    
}

#action-bar a:active {

    color: #94afe4;
    box-shadow: 3px 1px 4px #131923;
    
}

.section-header {
    background: #131923;
    margin: 32px 0;
    padding: 16px 32px;
    border-radius: 4px;
}


#favorite-colors-container {
    width: 60%;
    min-width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#palettes-container {
    width: 80%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 0 100px 0;
}




/* Color Swatch */

.color-swatch-container {

    background: #D2D7E0;
    box-shadow: 2px 2px 4px #131923;
    
    width: 120px;
    height: 180px;
    margin: 10px;

    border-radius: 4px;;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease;
}

.color-swatch-container:hover {
    transform: scale(1.02);
    box-shadow: 3px 4px 6px #131923;
}

.color-swatch-container:active {
    transform: scale(1.02) translateY(2px);
    box-shadow: 3px 1px 4px #131923;
}


.color-swatch-container h4 {
    margin: 0 0 8px 0;
    color: #131923;
}

.color-swatch-container p {
    margin: 0 0 8px 0;
    color: #131923;
}

.color-swatch {
    border: 1px solid #131923;
    border-radius: 4px;

    width: 100px;
    height: 100px;
    margin: 8px 0;
}



/* Palette Card */

.palette-card {
    border: 8px solid #D2D7E0;
    border-radius: 16px;

    margin: 32px 0 0 0;

    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette-card legend {
    color: #131923;
    align-self: flex-start;
    margin: 10px 0 10px 40px;

    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 24px;

    background: #D2D7E0;
    padding: 8px 16px;
    border-radius: 16px;
}

.palette-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



